# LangChain Core
langchain
langchain-core

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

#chain graph visualization
grandalf

#ollama
langchain-ollama

#for pypdf loader
pypdf

#semantic chunker
langchain_experimental

#vector store
faiss-cpu
chromadb
tiktoken
langchain_chroma

# jupyter
ipykernel

#RETRIVER
#wikipedia retriver
wikipedia

onnxruntime

# youtube chat project
youtube-transcript-api

# tools
pydantic
duckduckgo-search


#langserv
langchain-groq
fastapi
uvicorn

sse_starlette

langserver
pydantic
